*{ margin: 0; padding: 0;}
html,body{
	height:100%;
}
body{ background:#fff; overflow-x: hidden;min-width:320px;/* max-width: 640px;*/ margin: 0 auto; color: #000; font-size:12px; font-family:PingFangSC-Light,'helvetica neue','hiragino sans gb',tahoma,'microsoft yahei ui','microsoft yahei',simsun,sans-serif;}
input,button{outline: none; background:none; border:none;}
textarea{outline: none; background:none;}
button{border:none;}
img{border: 0;}
ul,li{list-style: none;}
a{ color:#000;}
h1,h2,h3,h4,h5,h6{}
a,a:active,a:link,a:visited,a:focus,a:hover{text-decoration: none;}
.clearfix:after{content: "";width: 0;height: 0;clear: both;display: block;visibility: hidden;}
.clearfix{zoom: 1;}
.CL{clear:both; height:0px; overflow:hidden;}
.fl{float: left;}
.fr{float: right;}